{% extends "layout.html" %}
{% block title %}Select Quiz{% endblock %}
{% block content %}
<h1 class="page-title">Select Quiz</h1>

<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label for="subject_id" class="form-label">Select Subject</label>
                <select id="subject_id" name="subject_id" class="form-control">
                    <option value="">--Select Subject--</option>
                    {% for subject in subjects %}
                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="chapter_id" class="form-label">Select Chapter</label>
                <select id="chapter_id" name="chapter_id" class="form-control">
                    <option value="">--Select Chapter--</option>
                    {% for chapter in chapters %}
                    <option value="{{ chapter.id }}" data-subject-id="{{ chapter.subject_id }}">{{ chapter.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter Quizzes</button>
        </form>
    </div>
</div>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date of Quiz</th>
                <th>Time Duration (In Minutes)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.date_of_quiz.strftime("%Y-%m-%d") }}</td>
                <td>{{ quiz.time_duration / 60 }}</td>

                <td class="action-buttons">
                    <a href="{{ url_for('users.attempt_quiz', quiz_id=quiz.id) }}"
                        class="btn btn-edit btn-sm">Attempt</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('subject_id').addEventListener('change', function () {
        subjectId = this.value;
        chapters = document.querySelectorAll('#chapter_id option')

        chapters.forEach(option => {
            if (option.dataset.subjectId == subjectId || option.value == "") {
                option.style.display = "block";
            } else {
                option.style.display = "none";
            }
        });
    })
</script>
{% endblock %}