{% extends "layout.html" %}
{% block title %}Manage Quizzes for {{ chapter.name }}{% endblock %}
{% block content %}
<h1 class="page-title">Manage Quizzes for {{ chapter.name }}</h1>

<a href="{{ url_for('admin.add_quiz', chapter_id=chapter.id) }}" class="btn btn-primary mb-4">Add Quiz</a>

<form method="post">
    <table class="table">
        <td>Search Quizzes:</td>
        <td>
            <input class="form-control" type="text" name="query" placeholder="Search by name" value="{{ query }}">
        </td>
        <td>
            <button class="btn btn-primary" type="submit">Submit</button>
        </td>
    </table>
</form>

<div class="table-container">
    <table class="table">
    <thead>
        <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Date of Quiz</th>
            <th>Time Duration</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.id }}</td>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.date_of_quiz }}</td>
            <td>{{ quiz.time_duration }}</td>

            <td colspan="3" class="action-buttons">
                <a href="{{ url_for('admin.edit_quiz', chapter_id=chapter.id, quiz_id=quiz.id) }}" class="btn btn-edit btn-sm">Edit</a>
                <form action="{{ url_for('admin.delete_quiz', chapter_id=chapter.id, quiz_id=quiz.id) }}" method="post">
                    <button
                    class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure, you want to delete this quiz?')">Delete</button>
                </form>
                <a href="{{ url_for('admin.manage_questions', quiz_id=quiz.id) }}" class="btn btn-view btn-sm">
                    Manage Questions
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}