{% extends "layout.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
<h1 class="page-title">Admin Dashboard</h1>

<div class="row gap-6">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3">Average Scores</h3>
                <canvas id="averageScoresChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3">Completion Rates</h3>
                <canvas id="completionRatesChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    const ctx = document.getElementById('averageScoresChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ quiz_names| tojson }},
        datasets: [{
            label: 'Average Score',
            data: {{ average_scores| tojson }},
        borderWidth: 1
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });

    const ctx1 = document.getElementById('completionRatesChart')

    new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: {{ quiz_names| tojson }},
        datasets: [{
            label: 'Completion Rate',
            data: {{ completion_rates| tojson }},
        hoverOffset: 4
            }]
        }
    })
</script>
{% endblock %}