{% extends "layout.html" %}
{% block title %}Manage Users{% endblock %}
{% block content %}
<h1 class="page-title">Manage Users</h1>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>

                <th>Id</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Qualification</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.username != "admin@quiz.com" %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.qualification }}</td>
                <td>{{ user.dob }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}