<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}{% endblock %} - Quiz Master</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Quiz Master</a>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Left Drawer -->
    {% if current_user.is_authenticated %}
        <aside class="drawer">
            {% if current_user.is_admin %}
            <a href="{{ url_for('admin.admin_dashboard') }}" class="nav-link">Dashboard</a>
            <a href="{{ url_for('admin.manage_subjects') }}" class="nav-link">Manage Subjects</a>
            <a href="{{ url_for('admin.manage_users') }}" class="nav-link">Manage Users</a>
            {% else %}
            <a href="{{ url_for('users.dashboard') }}" class="nav-link">Dashboard</a>
            <a href="{{ url_for('users.leaderboard') }}" class="nav-link">Leaderboard</a>
            <a href="{{ url_for('users.select_quiz') }}" class="nav-link">Select Quiz</a>
            <a href="{{ url_for('users.update_profile') }}" class="nav-link">Update Profile</a>
            <a href="{{ url_for('users.change_password') }}" class="nav-link">Change Password</a>
            {% endif %}
        </aside>
    {% endif %}

    <!-- Main Content -->
    <main class="main-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Page Content -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>

</html>